@page "/soups"

@using BlazorApp.Data
@inject SoupService soupService


<h1>Soups in Stock bruh</h1>

<ul>
  @foreach(var soup in soups) 
  {
    <li>@soup.Name - @soup.HotCold</li>
  }
</ul>

@code {
  private List<Soup> soups;
  protected override async Task OnInitializedAsync() 
  {
    soups = await soupService.GetSoupAsync();
  }
}